<template>
  <div class="bg-img min-h-screen relative pb-20">
    <div class="container mx-auto">
      <div class="flex flex-wrap">
        <client-only>
          <div class="w-full lg:-mt-72 md:-mt-48 sm:-mt-36">
            <div class="slider relative">
              <slider ref="slider" :options="options">
                <slideritem v-for="(item,index) in someList" :key="index" class="relative">
                  <CarouselBg class="lg:absolute top-0 bottom-0 left-0 right-0 w-full" />
                </slideritem>
              </slider>
              <button
                class="bg-green outline-none focus:outline-none absolute z-50 top-1/2 text-white p-3 rounded-xl left-44 lg:block hidden mt-10"
                @click="() => {this.$refs['slider'] && this.$refs['slider'].$emit('slidePre')}"
              >
                <ArrowLeftWhite />
              </button>
              <button
                class="bg-green outline-none focus:outline-none absolute z-50 top-1/2 text-white p-3 rounded-xl right-44 lg:block hidden mt-10"
                @click="() => {this.$refs['slider'] && this.$refs['slider'].$emit('slideNext')}"
              >
                <ArrowRightWhite />
              </button>
            </div>
          </div>
        </client-only>
        <div class="lg:w-3/4 mx-auto flex flex-wrap my-20 lg:px-0 px-6">
          <div class="lg:w-1/2 w-full md:pr-10">
            <h1 class="md:text-5xl text-3xl font-bold font-heebo text-white mb-2">Onze oogst</h1>
            <CarouselHeadingUnderline />
            <p
              class="md:text-xl text-lg font-zilla text-white leading-8 my-6 font-extralight"
            >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed leo, at sed habitasse proin imperdiet in elementum. Sed hendrerit molestie penatibus nullam a, eget sem. Risus suscipit leo nulla leo. Mattis etiam nibh porttitor dictum tellus molestie enim sit odio. Pulvinar ac, eget suspendisse bibendum ultrices massa. Dui amet quam est in cras augue. Ultrices sed vel donec aliquet auctor dui neque. Orci lectus.</p>
            <div class="flex flex-wrap items-center">
              <Button
                isSmall
                icon="right-arrow-icon.svg"
                text="LEES MEER"
                class="md:w-auto w-full md:mb-0 mb-3"
              />
            </div>
          </div>
          <div class="w-1/2 lg:block hidden md:pl-10">
            <div class="w-full flex md:flex-nowrap flex-wrap items-center">
              <img src="@/assets/images/DegewassenPageImages/line.svg" />
              <div class="flex flex-wrap -ml-10">
                <div v-for="item in items" :key="item.id" class="w-full flex mb-10">
                  <div class="w-40 h-16 relative mr-4">
                    <img
                      :src="require(`@/assets/images/DegewassenPageImages/${item.img}`)"
                      alt
                      class="m-auto relative z-10 mt-1"
                    />
                    <GreenBg v-if="item.isActive" class="absolute -top-1" />
                    <WhiteBg v-else class="absolute -top-1 w-16" />
                  </div>
                  <div>
                    <p class="text-white font-heebo font-bold text-2xl leading-8">{{ item.title }}</p>
                    <p class="text-white text-xl leading-8 font-zilla">{{ item.text }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="w-full lg:hidden flex flex-wrap md:my-10">
            <div class="w-full mt-10">
              <HorizontalLine class="w-full" />
            </div>
            <div class="w-full flex items-center -mt-6">
              <div v-for="(item, index) in mobItems" :key="item.id" class="w-1/3 relative">
                <button
                  class="bg-transparent outline-none focus:outline-none w-full"
                  @click="updateTabData(index)"
                >
                  <img
                    :src="require(`@/assets/images/DegewassenPageImages/${item.img}`)"
                    alt
                    class="relative z-10 mx-auto w-10"
                  />
                  <GreenMobBg v-if="item.isActive" class="mx-auto -mt-12" />
                  <WhiteBg v-else class="mx-auto -mt-10" />
                </button>
              </div>
            </div>
            <div class="w-full px-6 mt-4">
              <p class="text-white font-heebo font-bold text-2xl leading-8">{{ title }}</p>
              <p class="text-white leading-8 font-zilla">{{ text }}</p>
            </div>
          </div>
        </div>
        <div class="w-full lg:px-0 px-6">
          <div
            class="relative mx-auto bg-red-500 agriculture-bg flex items-center rounded-lg md:px-28 px-6 lg:py-0 py-12"
          >
            <div class="flex flex-wrap">
              <div class="w-full">
                <h1 class="font-heebo font-bold md:text-5xl text-3xl text-white">
                  <span>Het land van vandaag</span>
                  <HeadingUnderline class="w-full"/>
                </h1>
              </div>
              <div class="w-full my-8">
                <p
                  class="text-white font-zilla leading-8 md:text-xl text-base lg:block hidden font-extralight"
                >
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  <br />Sed leo, at sed habitasse proin imperdiet in elementum.
                  <br />Sed hendrerit molestie penatibus nullam a, eget sem.
                  <br />Risus suscipit leo nulla leo. Mattis etiam nibh porttitor
                  <br />dictum tellus molestie enim sit odio. Pulvinar ac, eget
                  <br />suspendisse bibendum ultrices massa. Dui amet quam
                  <br />est in cras augue. Ultrices sed vel donec aliquet auctor
                  <br />dui neque. Orci lectus.
                </p>
                <p
                  class="text-white font-zilla md:leading-8 text-base lg:hidden block font-extralight"
                >De gewassen van Botmas worden verbouwd in Engwierum (Frl) op de Botma Pleats, een boerderij gelegen tussen het Lauwersmeer en een oude zeegeul; het Oud Dockumer Diep.</p>
              </div>
              <div class="w-full">
                <Button isSmall icon="right-arrow-icon.svg" text="lees meer" class="text-base" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Button from '@/components/Global/Button.vue';
import CarouselHeadingUnderline from '@/assets/images/DegewassenPageImages/carousel-heading-underline.svg?inline';
import ArrowLeftWhite from '@/assets/images/icons/arrow-left-white.svg?inline';
import ArrowRightWhite from '@/assets/images/icons/arrow-right-white.svg?inline';
// import Line from '@/assets/images/DegewassenPageImages/line.svg?inline';
import HeadingUnderline from '@/assets/images/DegewassenPageImages/heading-underline.svg?inline';
import GreenMobBg from '@/assets/images/DegewassenPageImages/green-mob-bg.svg?inline';
import WhiteBg from '@/assets/images/DegewassenPageImages/white-bg.svg?inline';
import HorizontalLine from '@/assets/images/DegewassenPageImages/horizontal-line.svg?inline';
import GreenBg from '@/assets/images/DegewassenPageImages/green-bg.svg?inline';
import CarouselBg from '@/assets/images/DegewassenPageImages/carousel-bg.svg?inline';

export default {
  name: 'CarouselSection',
  components: {
    Button,
    CarouselHeadingUnderline,
    ArrowLeftWhite,
    ArrowRightWhite,
    // Line,
    HeadingUnderline,
    GreenMobBg,
    WhiteBg,
    HorizontalLine,
    GreenBg,
    CarouselBg,
  },
  data() {
    return {
      someList: [
        {
          html: 'slide1',
        },
        {
          html: 'slide2',
        },
        {
          html: 'slide3',
        },
        {
          html: 'slide4',
        },
        {
          html: 'slide5',
        },
      ],
      //Slider configuration [obj]
      options: {
        currentPage: 0,
        speed: 600,
        pagination: true,
      },
      items: [
        {
          id: 1,
          title: '22 Januari',
          text:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed leo, at sed habitasse proin imperdiet in elementum.',
          img: 'item1.png',
          isActive: true,
        },
        {
          id: 2,
          title: '23 Februari',
          text:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed leo, at sed habitasse proin imperdiet in elementum.',
          img: 'item2.png',
          isActive: false,
        },
        {
          id: 3,
          title: '2 Maart',
          text:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed leo, at sed habitasse proin imperdiet in elementum.',
          img: 'item3.png',
          isActive: false,
        },
      ],
      mobItems: [
        {
          id: 1,
          title: '22 Januari',
          text:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed leo, at sed habitasse proin imperdiet in elementum.',
          img: 'item1.png',
          isActive: true,
        },
        {
          id: 2,
          title: '23 Februari',
          text:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed leo, at sed habitasse proin imperdiet in elementum.',
          img: 'item2.png',
          isActive: false,
        },
        {
          id: 3,
          title: '2 Maart',
          text:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed leo, at sed habitasse proin imperdiet in elementum.',
          img: 'item3.png',
          isActive: false,
        },
      ],
      title: '22 Januari',
      text:
        'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed leo, at sed habitasse proin imperdiet in elementum.',
    };
  },
  methods: {
    updateTabData(index) {
      this.title = this.mobItems[index].title;
      this.text = this.mobItems[index].text;
      this.mobItems.forEach((item) => (item.isActive = false));
      this.mobItems[index].isActive = true;
    },
  },
};
</script>

<style lang="scss" scoped>
.bg-img {
  background: url('@/assets/images/DegrondPageImages/video-section-bg.svg') center / cover no-repeat;
}

.slider {
  height: 660px;
}

.agriculture-bg {
  background: url('@/assets/images/DegewassenPageImages/cows-bg.png') no-repeat center / cover;
  height: 668px;
}

@media only screen and (max-width: 768px) {
  .agriculture-bg {
    height: 100% !important;
  }
  .slider {
    height: 35vh !important;
  }
}

@media only screen and (max-width: 640px) {
  .slider {
    height: 35vh !important;
  }
}

::v-deep .slider-pagination-bullet {
  height: 12px !important;
  width: 12px !important;
  background: rgba(255, 255, 255, 0.24) !important;
  margin: 2px !important;
}
::v-deep .slider-pagination-bullet-active {
  background: #6a974c none repeat scroll 0 0 !important;
}
::v-deep .slider-pagination-bullets {
  bottom: 40px !important;
}
</style>