<template>
  <div class="flex flex-wrap relative w-full">
    <div v-for="item in gridList" :key="item.id" class="lg:w-1/3 md:w-1/2 w-full p-0 m-0">
      <img :src="require(`@/assets/images/DegewassenPageImages/gridImages/${item.img}`)" alt  class="w-full"/>
      <div v-if="item.hasFooter" class="flex w-full -mt-16 px-6 md:pb-0 pb-6">
        <div class="w-1/2 flex items-center">
          <img src="@/assets/images/icons/insta-color-icon.svg" alt="">
          <p class="text-white text-xl font-heebo font-bold ml-3">Botmas</p>
        </div>
        <div class="w-1/2 flex justify-end items-center">
          <img src="@/assets/images/icons/heart-icon.svg" alt="" class="mr-2">
          <p class="text-lg font-bold font-heebo text-white">1.024</p>
          <img src="@/assets/images/icons/comment-icon.svg" alt="" class="mx-2">
          <p class="text-lg font-bold font-heebo text-white">164</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'GirdSection',
  data() {
    return {
      gridList: [
        {
          id: 1,
          img: 'grid-img1.svg',
          hasFooter: false
        },
        {
          id: 2,
          img: 'grid-img2.svg',
          hasFooter: true
        },
        {
          id: 3,
          img: 'grid-img3.svg',
          hasFooter: false
        },
        {
          id: 4,
          img: 'grid-img4.svg',
          hasFooter: false
        },
        {
          id: 5,
          img: 'grid-img5.svg',
          hasFooter: false
        },
        {
          id: 6,
          img: 'grid-img6.svg',
          hasFooter: false
        },
      ],
    };
  },
};
</script>

<style lang="scss" scoped>
</style>