<template>
  <div class="banner flex flex-wrap pb-24">
    <div class="w-full">
      <the-header
        headerPhoneText="Meer weten"
        allWhite
        logoFullWhite
        :areIconsWhite="areHeaderIconsWhite"
      />
    </div>
    <div class="w-full md:self-end self-center text-center">
      <h1 class="md:text-8xl text-7xl text-white font-heebo font-bold">De gewassen</h1>
    </div>
  </div>
</template>

<script>
import TheHeader from '@/components/Global/TheHeader.vue';

export default {
  name: 'HeroSection',
  components: {
    TheHeader,
  },
  data() {
    return {
      areHeaderIconsWhite: false,
    };
  },

  mounted() {
    if (window.innerWidth < 769) {
      this.areHeaderIconsWhite = true;
    } else {
      this.areHeaderIconsWhite = false;
    }

    window.addEventListener('resize', this.checkHeaderIconsOnResize);
  },

  destroyed() {
    window.removeEventListener('resize', this.checkHeaderIconsOnResize);
  },

  methods: {
    checkHeaderIconsOnResize() {
      if (window.innerWidth < 769) {
        this.areHeaderIconsWhite = true;
      } else {
        this.areHeaderIconsWhite = false;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.banner {
  background: url('~@/assets/images/DegewassenPageImages/banner-bg.svg') no-repeat center / cover;
  height: 80vh;
}
</style>