<template>
  <div class="text-bg flex relative md:pt-0 pt-10 md:pb-0 pb-20">
    <div class="container mx-auto md:px-0 px-5">
      <div class="flex flex-wrap">
        <div class="md:w-2/3 w-full mx-auto">
          <p
            class="text-brown text-xl leading-8 font-zilla mt-20 mb-16 md:block hidden"
          >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed leo, at sed habitasse proin imperdiet in elementum. Sed hendrerit molestie penatibus nullam a, eget sem. Risus suscipit leo nulla leo. Mattis etiam nibh porttitor dictum tellus molestie enim sit odio. Pulvinar ac, eget suspendisse bibendum ultrices massa. Dui amet quam est in cras augue. Ultrices sed vel donec aliquet auctor dui neque. Orci lectus.</p>
          <p
            class="text-brown text-xl leading-8 font-zilla md:block hidden"
          >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed leo, at sed habitasse proin imperdiet in elementum. Sed hendrerit molestie penatibus nullam a, eget sem. Risus suscipit leo nulla leo. Mattis etiam nibh porttitor dictum tellus molestie enim sit odio. Pulvinar ac, eget suspendisse bibendum ultrices massa. Dui amet quam est in cras augue. Ultrices sed vel donec aliquet auctor dui neque. Orci lectus.</p>
          <p class="text-brown text-xl leading-8 font-zilla md:hidden block">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed leo, at sed habitasse proin imperdiet in elementum. Sed hendrerit molestie penatibus nullam a, eget sem. Risus suscipit leo nulla leo. Mattis etiam nibh porttitor dictum tellus molestie enim sit odio. Pulvinar ac, eget suspendisse bibendum ultrices massa. Dui amet quam est in cras augue. Ultrices sed vel donec aliquet auctor dui neque. Orci lectus....
            <span
              class="font-bold"
            >Lees meer</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TextSection',
};
</script>

<style lang="scss" scoped>
.text-bg {
  background: #ece9e7;
  height: 60vh;
}

@media only screen and (max-width: 1024px) {
  .text-bg {
    height: 65vh !important;
  }
}

@media only screen and (min-width: 768px) {
  .text-bg {
    height: 70vh !important;
  }
}

@media only screen and (max-width: 767px) {
  .text-bg {
    height: 100% !important;
  }
}
</style>