<template>
  <div class="relative">
    <div class="flex flex-wrap">
      <div class="lg:w-1/2 w-full h-full lg:order-first order-last">
        <img src="@/assets/images/ContactPageImages/map-img2.jpg" alt class="w-full" />
      </div>
      <div class="lg:w-1/2 w-full md:block hidden">
        <div class="relative h-full lg:overflow-y-hidden w-full">
          <img
            src="@/assets/images/ContactPageImages/contact-form-bg.svg"
            alt
            class="absolute w-full"
          />
          <div class="w-full md:px-16 px-6 pt-16 flex flex-wrap relative">
            <div class="w-full mb-10">
              <h1 class="font-heebo font-bold text-white md:text-5xl text-3xl">Contactformulier</h1>
              <ContactHeadingUnderline />
            </div>
            <div class="md:w-1/2 md:pr-2 lg:mb-0 mb-4">
              <input-field label="naam" />
            </div>
            <div class="md:w-1/2 md:pl-2">
              <input-field label="Achternaam" />
            </div>
            <div class="w-full my-4">
              <input-field label="Telefoonnummer" />
            </div>
            <div class="w-full">
              <input-field label="E-mailadres" />
            </div>

            <div class="w-full mt-6 mb-4">
              <input-field label="Bericht" isTextField />
            </div>

            <button
              class="bg-green outline-none focus:outline-none h-12 rounded flex items-center px-4 uppercase"
            >
              <span class="text-white font-heebo">Ja, verstuur mijn bericht</span>
              <ArrowRight class="ml-3" />
            </button>
          </div>
        </div>
      </div>
      <div class="w-full md:hidden block">
        <div class="relative form-bg h-full lg:overflow-y-hidden w-full">
          <div class="w-full px-6 pt-16 pb-16 flex flex-wrap relative">
            <div class="w-full mb-10">
              <h1 class="font-heebo font-bold text-white md:text-5xl text-3xl">Contactformulier</h1>
              <img src="@/assets/images/DegewassenPageImages/heading-underline.svg" alt />
            </div>
            <div class="w-full mb-4">
              <input-field label="naam" />
            </div>
            <div class="w-full">
              <input-field label="Achternaam" />
            </div>
            <div class="w-full my-4">
              <input-field label="Telefoonnummer" />
            </div>
            <div class="w-full">
              <input-field label="E-mailadres" />
            </div>

            <div class="w-full mt-6 mb-4">
              <input-field label="Bericht" isTextField />
            </div>

            <button
              class="bg-green outline-none focus:outline-none h-12 rounded flex items-center px-4 uppercase"
              @click="changePage"
            >
              <span class="text-white font-heebo">Ja, verstuur mijn bericht</span>
              <ArrowRight class="ml-3" />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import InputField from '@/components/Global/InputField.vue';
import ContactHeadingUnderline from '@/assets/images/ContactPageImages/contact-heading-underline.svg?inline';
import ArrowRight from '@/assets/images/icons/arrow-right.svg?inline';

export default {
  name: 'ContactFormSection',
  components: {
    InputField,
    ContactHeadingUnderline,
    ArrowRight
  },
  methods: {
    changePage() {
      this.$eventBus.$emit('changeCurrentPage');
    },
  },
};
</script>

<style lang="scss" scoped>
.form-bg {
  background: url('@/assets/images/ContactPageImages/contact-form-bg.svg') no-repeat center / cover;
}
</style>