<template>
  <div class="min-h-screen bg-secondary relative pb-20">
    <the-header />
    <div class="container mx-auto pt-4 pb-16 md:px-0 px-6">
      <div class="flex">
        <div class="md:w-2/3 w-full mx-auto flex flex-wrap">
          <div class="w-full mb-6">
            <h1 class="text-brown font-heebo lg:text-80 text-5xl font-bold">
              Algemene
              <br class="md:block hidden" />voorwaarden
            </h1>
          </div>
          <div class="w-full">
            <p class="font-zilla text-brown text-xl">
              Eget donec felis morbi molestie semper integer integer odio. Vulputate risus massa convallis lectus posuere imperdiet amet, accumsan nisl. Sed mi vel mattis accumsan viverra cursus. Eu, at consectetur ac fames sagittis eget convallis eu. Integer quis dui enim est. Sagittis, enim eu ridiculus felis malesuada venenatis lorem pulvinar. Vitae, lectus diam id nibh semper. Fringilla pellentesque viverra laoreet felis non vestibulum varius. Nulla vel sagittis pulvinar est massa nisi, morbi. Commodo nullam a iaculis ac mollis. Non luctus est at eu.
              Accumsan ut amet, nibh pharetra eget dignissim ac nisl. Quam ornare vitae dignissim sed eget. Varius sed facilisi non consectetur nunc massa. Aliquam amet lectus aliquet id eget id nisi ultrices. Mauris, quis curabitur mauris volutpat aenean et felis tortor. Turpis erat enim praesent id aliquet sit vitae, dui et. Cras nunc facilisi a auctor accumsan morbi volutpat amet rutrum. Nisi, id sed commodo erat nulla. Arcu viverra pellentesque in in turpis etiam pharetra pretium. Et tempus quam convallis sit nunc ornare a. Blandit pellentesque neque mauris pharetra dolor donec molestie sed. Elit integer elementum urna leo egestas quis ut adipiscing nibh. Leo, id mi dignissim amet, aliquam. Sed viverra turpis sociis dapibus amet. Enim risus cursus euismod nulla risus quis habitant.
              <br />
              <br />Interdum egestas posuere dui semper. Donec volutpat dis potenti amet, augue ut. Libero et, pretium facilisis sit sed id felis risus. Imperdiet vulputate gravida consequat aliquam at id eget. Vulputate magna at faucibus lectus dolor. Non consequat fames nam sit. Nunc, eget vel facilisis duis eget non nisi id. Ullamcorper mauris tempus, rhoncus egestas arcu a. Accumsan amet euismod viverra leo, eu id eu tristique at. Nec donec nulla eget sollicitudin. Et, nulla amet suspendisse pellentesque nibh venenatis semper viverra.
              Euismod malesuada dignissim eu diam nibh magna. Volutpat ut elit, gravida ultricies sit aliquam amet, metus tincidunt. Dictum diam potenti rhoncus iaculis habitant est cras faucibus egestas. Bibendum in ut amet consectetur quisque. Enim eu, at lobortis sit nisl. Tellus sem pretium euismod consequat. Arcu quis sed neque pellentesque et sed neque, sed. Nisi, augue sit sed magna. Id massa arcu ultrices nulla sed at arcu quam vitae. Ullamcorper interdum justo luctus aliquet euismod enim. Cras sit lectus tellus malesuada. Lacinia bibendum ut proin tortor vitae iaculis mattis donec. Aliquet luctus molestie lectus in. Velit sit pretium viverra nec elit, amet, non ultricies.
              <br />
              <br />Blandit mauris aliquam massa nulla elit lectus. Placerat ipsum sed varius magna. Non euismod sit venenatis ultrices bibendum orci. In faucibus leo eget integer et eu lacus. Faucibus lectus et ornare erat. Pellentesque aliquam blandit aliquet ac malesuada et congue. Libero ut tristique amet sem vel molestie. Magna a, dui mauris id gravida nisi. Neque amet, at amet fames quisque odio sed. In luctus purus morbi id proin quam accumsan.
              Dignissim mauris aliquam faucibus mattis pellentesque tempus pretium turpis. Vulputate diam at praesent ligula malesuada. Consectetur turpis eget vulputate enim praesent volutpat tellus feugiat. Tellus et dolor tristique donec morbi sed rhoncus facilisis semper. Nulla malesuada amet, id ornare commodo.
              <br />
              <br />Mi nibh volutpat vel, morbi. Eget consequat ullamcorper pretium donec etiam elementum. Et, nullam duis dui nunc sed. Egestas massa duis neque quam lorem. Lectus quis eget eros, porttitor. Diam sed tincidunt interdum tincidunt diam pulvinar ut diam magna.
              Volutpat gravida est ornare etiam. At aenean sit eu malesuada aliquam sed commodo scelerisque. Pretium cras est vitae sed. A vitae odio consectetur pellentesque augue. Mi in maecenas amet vitae gravida odio. Commodo eget nunc et nibh leo morbi tellus bibendum.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TheHeader from '@/components/Global/TheHeader.vue';
import TheFooter from '@/components/Global/TheFooter.vue';

export default {
  name: 'ContactInfoSection',
  components: {
    TheHeader,
    TheFooter,
  },
};
</script>

<style>
</style>