<template>
  <div class="bg-secondary relative pb-10">
    <the-header headerPhoneText="Meer weten"/>
    <div class="container mx-auto">
      <div class="flex flex-wrap items-center">
        <div class="md:w-1/2 w-full md:order-first order-last">
          <img src="@/assets/images/ContactPageImages/map-img.svg" alt class="mx-auto" />
        </div>
        <div class="md:w-1/2 w-full md:mb-0 mb-5 md:px-0 px-5">
          <h1
            class="md:text-80 text-4xl font-bold font-heebo text-brown mb-2"
          >Contact</h1>
          <p
            class="md:text-xl text-lg font-zilla font-extralight text-gray md:leading-8 my-8"
          >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Risus eget sit interdum pretium adipiscing amet sed etiam. Aliquam, dignissim malesuada ut cursus et. Cras massa nisl magna a pretium. Urna, eget condimentum felis at nunc.</p>
          <div class="flex flex-wrap items-center">
            <Button
              isIconLeft
              icon="phone-icon.svg"
              text="+31 6 1234 5678"
              class="md:w-auto w-full lg:mb-0 mb-3 md:text-left text-center"
              bgDark
            />
            <Button
              isIconLeft
              icon="mail-icon.svg"
              text="info@botmas.nl"
              textDark
              class="lg:ml-4 md:w-auto w-full md:text-left text-center"
              borderDark
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TheHeader from '@/components/Global/TheHeader.vue';
import Button from '@/components/Global/Button.vue';

export default {
  name: 'HeroSection',
  components: {
    TheHeader,
    Button
  },
};
</script>

<style lang="scss" scoped>
</style>