<template>
  <div class="slider relative">
    <slider ref="slider" :options="options">
      <slideritem v-for="(item,index) in someList" :key="index" class="slider__img">
        <div class="container mx-auto">
          <div class="flex">
            <div class="lg:w-1/2 w-full text-left ml-auto lg:px-0 px-4">
              <div class="flex items-center lg:-ml-44">
                <img
                  src="@/assets/images/HomePageImages/slider-side-icon.svg"
                  alt
                  class="lg:block hidden"
                />
                <div class="lg:ml-6">
                  <h1 class="font-heebo font-bold md:text-5xl text-3xl text-white">Regeneratieve</h1>
                  <img src="@/assets/images/DegrondPageImages/carousel-heading-divider.svg" alt />
                  <h1 class="font-heebo font-bold md:text-5xl text-3xl text-white">landbouw</h1>
                  <img src="@/assets/images/DegrondPageImages/carousel-heading-divider.svg" alt />
                </div>
              </div>
              <p class="text-white font-zilla my-8 text-base font-extralight">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed leo, at sed
                <br />habitasse proin imperdiet in elementum. Sed hendrerit molestie
                <br />penatibus nullam a, eget sem. Risus suscipit leo nulla leo. Mattis etiam
                <br />nibh porttitor dictum tellus molestie enim sit odio. Pulvinar ac,
                <br />eget suspendisse bibendum ultrices massa. Dui amet quam est in cras
                <br />augue. Ultrices sed vel donec aliquet auctor dui neque. Orci lectus.
              </p>
              <Button isSmall icon="right-arrow-icon.svg" text="lees meer" class="text-base" />
            </div>
          </div>
        </div>
      </slideritem>
    </slider>
  </div>
</template>
<script>
import Button from '@/components/Global/Button.vue';

export default {
  name: 'FullScreenSlider',
  components: {
    Button,
  },
  data() {
    return {
      //data list [array]
      someList: [
        {
          html: 'slide1',
        },
        {
          html: 'slide2',
        },
        {
          html: 'slide3',
        },
        {
          html: 'slide4',
        },
        {
          html: 'slide5',
        },
      ],
      //Slider configuration [obj]
      options: {
        currentPage: 0,
        speed: 600,
        pagination: false,
      },
    };
  },
};
</script>

<style lang="scss" scoped>
.slider {
  height: 585px;
  &__img {
    background: url('@/assets/images/DegrondPageImages/slider-bg.svg') no-repeat center / cover;
  }
}
</style>