<template>
  <div class="card-bg relative flex flex-wrap min-h-screen">
    <div class="container mx-auto flex">
      <div class="flex flex-wrap items-center">
        <div class="flex">
          <div class="md:w-2/3 w-full mx-auto text-center">
            <h1
              class="lg:text-5xl md:text-4xl text-3xl font-bold font-heebo text-white mb-2 sm:block hidden"
            >De kwaliteit van onze bodem</h1>
            <CompanyHeadingUnderline class="mx-auto sm:block hidden" />
            <h1
              class="lg:text-5xl md:text-4xl sm:text-3xl text-2xl pb-1 font-bold font-heebo text-white mb-2 sm:hidden heading-underline-icon"
            >De kwaliteit van onze bodem</h1>
            <p
              class="md:text-xl text-lg font-zilla text-white leading-8 my-4 font-extralight"
            >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed leo, at sed habitasse proin imperdiet in elementum. Sed hendrerit molestie penatibus nullam a, eget sem. Risus suscipit leo nulla leo. Mattis etiam nibh porttitor dictum tellus molestie enim sit odio. Pulvinar ac, eget suspendisse bibendum ultrices massa. Dui amet quam est in cras augue. Ultrices sed vel donec aliquet auctor dui neque. Orci lectus.</p>
          </div>
        </div>
      </div>
    </div>
    <client-only>
      <div class="container mx-auto relative flex flex-col justify-end h-full -mt-36">
        <div class="flex flex-wrap">
          <div class="relative" style="width: 80%; margin: 30px auto;">
            <!-- Using the slider component -->
            <slider ref="slider" :options="options" class="w-1/2 pt-10">
              <!-- slideritem wrapped package with the components you need -->
              <slideritem
                v-for="(item,index) in someList"
                :key="index"
                :style="item.style"
                class="flex items-center justify-center"
              >
                <img :src="item.logo" alt />
              </slideritem>
              <!-- Customizable loading -->
              <div slot="loading">loading...</div>
            </slider>
          </div>
        </div>
        <button
          class="bg-green outline-none focus:outline-none absolute z-50 top-1/2 text-white p-3 rounded-xl left-10 md:flex hidden"
          @click="() => {this.$refs['slider'] && this.$refs['slider'].$emit('slidePre')}"
        >
          <ArrowLeftWhite />
        </button>
        <button
          class="bg-green outline-none focus:outline-none absolute z-50 top-1/2 text-white p-3 rounded-xl right-10 md:flex hidden"
          @click="() => {this.$refs['slider'] && this.$refs['slider'].$emit('slideNext')}"
        >
          <ArrowRightWhite />
        </button>
      </div>
    </client-only>
  </div>
</template>

<script>
import CompanyHeadingUnderline from '@/assets/images/DegrondPageImages/company-heading-underline.svg?inline';
import ArrowLeftWhite from '@/assets/images/icons/arrow-left-white.svg?inline';
import ArrowRightWhite from '@/assets/images/icons/arrow-right-white.svg?inline';
import Divider2 from '@/assets/images/HomePageImages/divider2.svg?inline';

export default {
  name: 'CompanySection',
  components: {
    CompanyHeadingUnderline,
    ArrowLeftWhite,
    ArrowRightWhite,
    Divider2,
  },
  data() {
    return {
      someList: [
        {
          logo: require('@/assets/images/HomePageImages/testimonials/testi-logo1.svg'),
          style: {
            width: '120px',
            height: '120px',
            background: '#ffffff',
            border: '3.82609px solid #E0E0E0',
            'border-radius': '15.3043px',
            'margin-right': '3%',
          },
        },
        {
          logo: require('@/assets/images/HomePageImages/testimonials/testi-logo2.svg'),
          style: {
            width: '120px',
            height: '120px',
            background: '#ffffff',
            border: '3.82609px solid #E0E0E0',
            'border-radius': '15.3043px',
            'margin-right': '3%',
          },
        },
        {
          logo: require('@/assets/images/HomePageImages/testimonials/testi-logo3.svg'),
          style: {
            width: '120px',
            height: '120px',
            background: '#ffffff',
            border: '3.82609px solid #E0E0E0',
            'border-radius': '15.3043px',
            'margin-right': '3%',
          },
        },
        {
          logo: require('@/assets/images/HomePageImages/testimonials/testi-logo2.svg'),
          style: {
            width: '120px',
            height: '120px',
            background: '#ffffff',
            border: '3.82609px solid #E0E0E0',
            'border-radius': '15.3043px',
            'margin-right': '3%',
          },
        },
        {
          logo: require('@/assets/images/HomePageImages/testimonials/testi-logo3.svg'),
          style: {
            width: '120px',
            height: '120px',
            background: '#ffffff',
            border: '3.82609px solid #E0E0E0',
            'border-radius': '15.3043px',
            'margin-right': '3%',
          },
        },
        {
          logo: require('@/assets/images/HomePageImages/testimonials/testi-logo1.svg'),
          style: {
            width: '120px',
            height: '120px',
            background: '#ffffff',
            border: '3.82609px solid #E0E0E0',
            'border-radius': '15.3043px',
            'margin-right': '3%',
          },
        },
        {
          logo: require('@/assets/images/HomePageImages/testimonials/testi-logo2.svg'),
          style: {
            width: '120px',
            height: '120px',
            background: '#ffffff',
            border: '3.82609px solid #E0E0E0',
            'border-radius': '15.3043px',
            'margin-right': '3%',
          },
        },
        {
          logo: require('@/assets/images/HomePageImages/testimonials/testi-logo3.svg'),
          style: {
            width: '120px',
            height: '120px',
            background: '#ffffff',
            border: '3.82609px solid #E0E0E0',
            'border-radius': '15.3043px',
            'margin-right': '3%',
          },
        },
        {
          logo: require('@/assets/images/HomePageImages/testimonials/testi-logo2.svg'),
          style: {
            width: '120px',
            height: '120px',
            background: '#ffffff',
            border: '3.82609px solid #E0E0E0',
            'border-radius': '15.3043px',
            'margin-right': '3%',
          },
        },
        {
          logo: require('@/assets/images/HomePageImages/testimonials/testi-logo3.svg'),
          style: {
            width: '120px',
            height: '120px',
            background: '#ffffff',
            border: '3.82609px solid #E0E0E0',
            'border-radius': '15.3043px',
            'margin-right': '3%',
          },
        },
      ],
      //Slider configuration [obj]
      options: {
        currentPage: 0,
        thresholdDistance: 500,
        thresholdTime: 300,
        infinite: 3,
        loop: true,
        pagination: false,
      },
    };
  },
};
</script>

<style lang="scss" scoped>
.card-bg {
  background: url('@/assets/images/DegrondPageImages/video-section-bg.svg') center / cover no-repeat;
}
</style>