<template>
  <div class="h-screen relative flex flex-wrap cool-transition overflow-hidden">
    <div
      class="absolute cool-transition hero-img left-0 right-0 h-screen"
      :style="`z-index: -1; transform: scale(${backgroundSize})`"
    ></div>
    <div class="w-full">
      <the-header headerPhoneText="Meer weten?" />
    </div>
    <p
      class="text-white lg:text-8xl text-6xl font-heebo font-bold md:-mb-6 mb-14 fixed xl:bottom-44 md:bottom-36 left-0 w-full text-center self-end "
      style="z-index: 0;"
    >De grond van Botmas</p>
    <div class="w-full text-center z-30 absolute -bottom-8 md:block hidden">
      <BannerDivider class="w-full"/>
    </div>
  </div>
</template>

<script>
import TheHeader from '@/components/Global/TheHeader.vue';
import BannerDivider from '@/assets/images/DegrondPageImages/banner-divider.svg?inline';

export default {
  name: 'HeroSection',
  components: {
    TheHeader,
    BannerDivider
  },
  data() {
    return {
      backgroundSize: 1,
    };
  },

  mounted() {
    let lastScrollTop = 0;

    window.addEventListener(
      'scroll',
      () => {
        let st = window.pageYOffset || document.documentElement.scrollTop;
        if (st > lastScrollTop) {
          this.backgroundSize = this.backgroundSize + 0.02;
        } else {
          if (this.backgroundSize > 1) {
            this.backgroundSize = this.backgroundSize - 0.02;
          } else {
            this.backgroundSize = 1;
          }
        }

        lastScrollTop = st <= 0 ? 0 : st;
      },
      false
    );
  },
};
</script>

<style lang="scss" scoped>
.hero-img {
  background: url('~@/assets/images/DegrondPageImages/banner.svg') no-repeat center / cover;
}
</style>