<template>
  <div class="product-bg relative pb-20">
    <div class="flex flex-wrap items-center">
      <div class="2xl:w-2/3 lg:w-1/2 w-full xl:pl-28 px-6 flex flex-col xl:-mt-10 mt-10">
        <h1
          class="md:text-5xl text-2xl font-bold font-heebo text-brown mb-2 md:text-left text-center"
        >Altijd verse producten</h1>
        <ProductHeadingUnderline />
        <p
          class="md:text-xl text-lg font-zilla font-normal text-gray md:leading-8 my-4 md:text-left text-center"
        >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Risus eget sit interdum pretium adipiscing amet sed etiam. Aliquam, dignissim malesuada ut cursus et. Cras massa nisl magna a pretium. Urna, eget condimentum felis at nunc.</p>
        <div class="flex flex-wrap items-center">
          <Button
            isSmall
            isIconLeft
            icon="phone-icon.svg"
            text="+31 6 1234 5678"
            class="md:w-auto w-full md:mb-0 mb-3 md:text-left text-center"
            bgDark
            :textCenter="isTextCenter"
          />
          <Button
            isSmall
            isIconLeft
            icon="mail-icon.svg"
            text="info@botmas.nl"
            textDark
            class="md:ml-4 md:w-auto w-full md:text-left text-center"
            borderDark
            :textCenter="isTextCenter"
          />
        </div>
      </div>
      <div class="2xl:w-1/3 lg:w-1/2 md:w-2/3 w-full ml-auto relative -mb-52">
        <img
          src="@/assets/images/HomePageImages/fruit-bucket.png"
          alt
          class="relative z-50 img-shadow"
        />
      </div>
    </div>
  </div>
</template>

<script>
import Button from '@/components/Global/Button.vue';
import ProductHeadingUnderline from '@/assets/images/DegrondPageImages/product-heading-underline.svg?inline';

export default {
  name: 'ProductSection',
  components: {
    Button,
    ProductHeadingUnderline,
  },
  data() {
    return {
      isTextCenter: false,
    };
  },

  mounted() {
    if (window.innerWidth < 767) {
      this.isTextCenter = true;
    } else {
      this.isTextCenter = false;
    }

    window.addEventListener('resize', this.alignText);
  },

  destroyed() {
    window.removeEventListener('resize', this.alignText);
  },

  methods: {
    alignText() {
      if (window.innerWidth < 767) {
        this.isTextCenter = true;
      } else {
        this.isTextCenter = false;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.product-bg {
  background: #ece9e7;
}

.fruit-img {
  filter: drop-shadow(0px 8px 40px rgba(0, 0, 0, 0.12));
}
</style>