<template>
  <div class="text-bg lg:px-20 md:pb-14 pb-32 md:pt-0 pt-14 px-5 relative flex items-center">
    <div class="container mx-auto">
      <div class="flex">
        <div class="lg:w-2/3 mx-auto">
          <p
            class="text-xl leading-8 text-gray font-zilla mb-10 font-extralight"
          >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed leo, at sed habitasse proin imperdiet in elementum. Sed hendrerit molestie penatibus nullam a, eget sem. Risus suscipit leo nulla leo. Mattis etiam nibh porttitor dictum tellus molestie enim sit odio. Pulvinar ac, eget suspendisse bibendum ultrices massa. Dui amet quam est in cras augue. Ultrices sed vel donec aliquet auctor dui neque. Orci lectus.</p>
          <p
            class="text-xl leading-8 text-gray font-zilla font-extralight"
          >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed leo, at sed habitasse proin imperdiet in elementum. Sed hendrerit molestie penatibus nullam a, eget sem. Risus suscipit leo nulla leo. Mattis etiam nibh porttitor dictum tellus molestie enim sit odio. Pulvinar ac, eget suspendisse bibendum ultrices massa. Dui amet quam est in cras augue. Ultrices sed vel donec aliquet auctor dui neque. Orci lectus.</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.text-bg {
  background: #ece9e7;
  height: 50vh;
}

@media only screen and (max-width: 767px) {
  .text-bg {
    height: 100%;
  }
}
</style>