<template>
  <div class="card-bg relative flex flex-wrap justify-end min-h-screen">
    <img
      src="@/assets/images/HomePageImages/divider3.svg"
      alt
      class="absolute -bottom-6 h-12 w-full z-50"
    />
    <div class="flex flex-wrap items-center">
      <div class="container mx-auto md:-mt-20 -mt-20">
        <div class="relative">
          <img
            src="@/assets/images/DegrondPageImages/video-thumbnail.jpg"
            alt
            class="w-11/12 mx-auto thumbnail rounded-lg"
          />
          <button
            class="bg-transparent outline-none focus:outline-none absolute top-1/2 -mt-14 left-1/2 -ml-12"
          >
            <PlayButtonIcon />
          </button>
        </div>
      </div>
      <div class="flex flex-wrap mt-20 pb-10 md:px-0 px-5 relative">
        <div class="md:w-2/3 w-full mx-auto flex flex-wrap">
          <h1 class="md:text-5xl text-3xl font-bold font-heebo text-white mb-2 w-full">
            <span>Het proces</span>
            <VideoHeadingUnderline />
          </h1>
          <p
            class="md:text-xl text-lg font-zilla text-white leading-8 my-4 font-extralight 2xl:w-3/4 w-full"
          >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed leo, at sed habitasse proin imperdiet in elementum. Sed hendrerit molestie penatibus nullam a, eget sem. Risus suscipit leo nulla leo. Mattis etiam nibh porttitor dictum tellus molestie enim sit odio. Pulvinar ac, eget suspendisse bibendum ultrices massa. Dui amet quam est in cras augue. Ultrices sed vel donec aliquet auctor dui neque. Orci lectus.</p>
          <p
            class="md:text-xl text-lg font-zilla font-extralight text-white leading-8 my-4 2xl:w-3/4 w-full"
          >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed leo, at sed habitasse proin imperdiet in elementum. Sed hendrerit molestie penatibus nullam a, eget sem. Risus suscipit leo nulla leo. Mattis etiam nibh porttitor dictum tellus molestie enim sit odio. Pulvinar ac, eget suspendisse bibendum ultrices massa. Dui amet quam est in cras augue. Ultrices sed vel donec aliquet auctor dui neque. Orci lectus.</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import PlayButtonIcon from '@/assets/images/icons/play-button-icon.svg?inline';
import VideoHeadingUnderline from '@/assets/images/DegrondPageImages/video-heading-underline.svg?inline';

export default {
  name: 'VideoSection',
  components: {
    PlayButtonIcon,
    VideoHeadingUnderline,
  },
};
</script>

<style lang="scss" scoped>
.card-bg {
  background: url('@/assets/images/DegrondPageImages/video-section-bg.svg') center / cover no-repeat;
  .thumbnail {
    filter: drop-shadow(0px 4px 120px rgba(0, 0, 0, 0.24));
  }
}
</style>