$modernTransition: all 0.4s cubic-bezier(1, 0.25, 0, 0.75) 0s;

.cool-transition {
  transition: $modernTransition;
}

.font-22px {
  font-size: 22px;
}

.underline-icon {
  position: relative;

  &::after {
    content: '';
    background: url('~@/assets/images/icons/link-underline-icon.svg') no-repeat bottom;
    display: flex;
    align-items: flex-end;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: -1px;
    height: 100%;
    width: 100%;
  }
}

.heading-underline-icon {
  position: relative;

  &::after {
    content: '';
    background: url('~@/assets/images/icons/underline.svg') no-repeat bottom;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100;
    width: 100%;
  }
}

.heading-underline-icon2 {
  position: relative;

  &::after {
    content: '';
    background: url('~@/assets/images/HomePageImages/divider2.svg') no-repeat bottom;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    margin-left: -10px;
  }
}

.faded-text {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .9));
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}

.img-shadow {
  filter: drop-shadow(0px 8px 40px rgba(0, 0, 0, 0.42));
}
