<template>
  <div>
    <hero-section />
    <TextDivider class="relative z-30 h-20 w-full -mb-10 -mt-8" />
    <contact-form-section />
    <ContactBottomDivider class="relative z-30 -mt-6 -mb-10"/>
    <the-footer />
  </div>
</template>

<script>
import HeroSection from '@/components/ContactPageComponents/HeroSection.vue';
import ContactFormSection from '@/components/ContactPageComponents/ContactFormSection.vue';
import ContactInfoSection from '@/components/ContactPageComponents/ContactInfoSection.vue';
import TheFooter from '@/components/Global/TheFooter.vue';
import TextDivider from '@/assets/images/DegrondPageImages/text-divider.svg?inline';
import ContactBottomDivider from '@/assets/images/DeboerPageImages/contact-bottom-divider.svg?inline';

export default {
  components: {
    HeroSection,
    ContactFormSection,
    ContactInfoSection,
    TheFooter,
    TextDivider,
    ContactBottomDivider
  },
};
</script>

<style>
</style>