<template>
  <div class="overflow-x-hidden">
    <hero-section />
    <TextDivider class="relative z-30 sm:-mb-20 -mb-12 2xl:-mt-12 sm:-mt-8 -mt-10" />
    <text-section />
    <video-section />
    <VideoTopDivider class="relative z-30 -mb-16 -mt-12" />
    <agriculture-section />
    <kitchen-section />
    <ContactDivider class="relative z-30 -mt-24" />
    <contact-section />
    <ContactBottomDivider class="relative z-30 -mt-12 -mb-6"/>
    <the-footer />
  </div>
</template>

<script>
import HeroSection from '@/components/DeboerPageComponents/HeroSection.vue';
import TextSection from '@/components/DeboerPageComponents/TextSection.vue';
import VideoSection from '@/components/DeboerPageComponents/VideoSection.vue';
import AgricultureSection from '@/components/DeboerPageComponents/AgricultureSection.vue';
import KitchenSection from '@/components/DeboerPageComponents/KitchenSection.vue';
import ContactSection from '@/components/DeboerPageComponents/ContactSection.vue';
import TheFooter from '@/components/Global/TheFooter.vue';
import TextDivider from '@/assets/images/DegrondPageImages/text-divider.svg?inline';
import VideoTopDivider from '@/assets/images/DegrondPageImages/video-top-divider.svg?inline';
import ContactDivider from '@/assets/images/DeboerPageImages/contact-divider.svg?inline';
import ContactBottomDivider from '@/assets/images/DeboerPageImages/contact-bottom-divider.svg?inline';

export default {
  components: {
    HeroSection,
    TextSection,
    VideoSection,
    AgricultureSection,
    KitchenSection,
    ContactSection,
    TheFooter,
    TextDivider,
    VideoTopDivider,
    ContactDivider,
    ContactBottomDivider,
  },
};
</script>

<style>
</style>