<template>
  <div class="overflow-x-hidden">
    <hero-section />
    <TextSectionDivider class="relative z-30 -my-10"/>
    <text-section />
    <VideoTopDivider class="relative -mb-12 -mt-16"/>
    <carousel-section />
    <gird-section />
    <ContactBottomDivider class="relative z-30 -mb-9 -mt-9"/>
    <the-footer />
  </div>
</template>

<script>
import HeroSection from '@/components/DegewassenPageComponents/HeroSection.vue';
import TextSection from '@/components/DegewassenPageComponents/TextSection.vue';
import CarouselSection from '@/components/DegewassenPageComponents/CarouselSection.vue';
import GirdSection from '@/components/DegewassenPageComponents/GridSection.vue';
import TheFooter from '@/components/Global/TheFooter.vue';
import TextSectionDivider from '@/assets/images/DegewassenPageImages/text-section-divider.svg?inline';
import VideoTopDivider from '@/assets/images/DegrondPageImages/video-top-divider.svg?inline';
import ContactBottomDivider from '@/assets/images/DeboerPageImages/contact-bottom-divider.svg?inline';

export default {
  components: {
    HeroSection,
    TextSection,
    CarouselSection,
    GirdSection,
    TheFooter,
    TextSectionDivider,
    VideoTopDivider,
    ContactBottomDivider
  },
};
</script>

<style>
</style>