<template>
  <div class="overflow-x-hidden">
    <hero-section />
    <TextDivider class="relative z-30 -mt-10 -mb-16" />
    <text-section />
    <VideoTopDivider class="relative -mb-12 -mt-10" />
    <video-section />
    <carousel-section />
    <ProductSectionDivider class="relative z-30 -mb-12 -mt-12" />
    <product-section />
    <VideoTopDivider class="relative -mb-12 -mt-10" />
    <company-section />
    <CompanySectionDivider class="relative z-30 -mb-10 -mt-16"/>
    <the-footer />
  </div>
</template>

<script>
import HeroSection from '@/components/DegrondPageComponents/HeroSection.vue';
import TextSection from '@/components/DegrondPageComponents/TextSection.vue';
import VideoSection from '@/components/DegrondPageComponents/VideoSection.vue';
import CarouselSection from '@/components/DegrondPageComponents/CarouselSection.vue';
import ProductSection from '@/components/DegrondPageComponents/ProductSection.vue';
import CompanySection from '@/components/DegrondPageComponents/CompanySection.vue';
import TheFooter from '@/components/Global/TheFooter.vue';
import TextDivider from '@/assets/images/DegrondPageImages/text-divider.svg?inline';
import VideoTopDivider from '@/assets/images/DegrondPageImages/video-top-divider.svg?inline';
import ProductSectionDivider from '@/assets/images/DegrondPageImages/product-section-divider.svg?inline';
import CompanySectionDivider from '@/assets/images/DegrondPageImages/company-section-divider.svg?inline';

export default {
  components: {
    HeroSection,
    TextSection,
    VideoSection,
    CarouselSection,
    ProductSection,
    CompanySection,
    TheFooter,
    TextDivider,
    VideoTopDivider,
    ProductSectionDivider,
    CompanySectionDivider,
  },
};
</script>

<style>
</style>