<template>
  <div class="flex">
    <div class="overflow-x-hidden">
      <hero-section />
      <Divider class="relative z-30 w-full sm:-my-8 -mt-8 -mb-8" />
      <video-section />
      <card-section />
      <Divider3 class="xl:-mt-8 -mt-6 -mb-9 relative z-30" />
      <carousel-section />
      <TestimonialDivider class="relative z-30 -my-8" />
      <testimonial-section />
      <FooterDivider class="relative z-30 sm:-mt-10 sm:-mb-8 -mt-8 -mb-5 transform rotate-180 -ml-20"/>
      <the-footer />
    </div>
  </div>
</template>

<script>
import HeroSection from '@/components/HomePageComponents/HeroSection.vue';
import VideoSection from '@/components/HomePageComponents/VideoSection.vue';
import CardSection from '@/components/HomePageComponents/CardSection.vue';
import CarouselSection from '@/components/HomePageComponents/CarouselSection.vue';
import TestimonialSection from '@/components/HomePageComponents/TestimonialSection.vue';
import TheFooter from '@/components/Global/TheFooter.vue';
import Divider from '@/assets/images/HomePageImages/divider.svg?inline';
import Divider3 from '@/assets/images/HomePageImages/divider3.svg?inline';
import TestimonialDivider from '@/assets/images/HomePageImages/testimonials/testimonial-divider.svg?inline';
import FooterDivider from '@/assets/images/footer-divider.svg?inline';

export default {
  components: {
    HeroSection,
    VideoSection,
    CardSection,
    CarouselSection,
    TestimonialSection,
    TheFooter,
    Divider,
    Divider3,
    TestimonialDivider,
    FooterDivider,
  },
};
</script>

<style>
</style>
