<template>
  <div>
    <contact-info-section />
    <CompanySectionDivider class="relative z-30 -mb-10 -mt-16"/>
    <the-footer />
  </div>
</template>

<script>
import ContactInfoSection from '@/components/ContactPageComponents/ContactInfoSection.vue';
import TheFooter from '@/components/Global/TheFooter.vue';
import CompanySectionDivider from '@/assets/images/DegrondPageImages/company-section-divider.svg?inline';

export default {
  components: {
    ContactInfoSection,
    TheFooter,
    CompanySectionDivider
  },
};
</script>

<style>
</style>