<template>
  <div class="flex items-center">
    <nuxt-link v-if="$route.name === name" :to="to">
      <a :class="'font-medium uppercase flex flex-col mx-4 truncate underline-icon ' + linkColor">
        {{ linkText }}
      </a>
    </nuxt-link>
    <router-link v-else :to="to">
      <a :class="'font-medium uppercase mx-4 truncate ' + linkColor">{{ linkText }}</a>
    </router-link>
  </div>
</template>

<script>
export default {
  name: 'active-link',
  props: {
    to: {
      type: String,
    },
    linkText: {
      type: String,
    },
    name: {
      type: String,
    },
    linkColor: {
      type: String,
      default: 'text-white'
    }
  },
};
</script>

<style>
</style>