<template>
  <div
    class="botmas-card rounded-lg flex items-end overflow-x-hidden"
    :style="`background: url(${require(`@/assets/images/HomePageImages/cardImages/${cardImg}`)}) center /cover no-repeat;`"
  >
    <div class="w-full lg:block flex lg:pb-0 pb-5">
      <h1 class="text-white font-heebo lg:text-5xl text-3xl font-bold px-6">{{ cardTitle }}</h1>
      <img
        :src="require(`@/assets/images/HomePageImages/cardImages/${cardTitleDivider}`)"
        alt
        class="mb-4 lg:block hidden px-6"
      />
      <p
        class="text-white font-zilla font-22px leading-8 botmas-card__text lg:block hidden relative px-6"
      >
        <span class="faded-text lg:block hidden"></span>
        {{ cardText }}
      </p>
      <img src="@/assets/images/icons/right-arrow-icon.svg" alt class="lg:hidden block" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'BotmasCard',
  props: {
    'card-img': {
      type: String,
    },
    'card-title': {
      type: String,
    },
    'card-title-divider': {
      type: String,
    },
    'card-text': {
      type: String,
    },
  },
};
</script>

<style lang="scss" scoped>
.botmas-card {
  height: 520px;
  &__text {
    opacity: 0.88;
    text-shadow: 0px 12px 32px rgba(0, 0, 0, 0.08);
  }
}

@media only screen and (max-width: 767px) {
  .botmas-card {
    height: 250px !important;
  }
}
</style>