<template>
  <button
    class="flex items-center border-solid border-2 px-4 outline-none focus:outline-none"
    :class="[isSmall ? 'py-2 rounded-lg' : 'py-3 rounded', borderDark ? 'dark-border' : 'light-border', bgDark ? 'bg-dark' : 'bg-transparent', textCenter ? 'justify-center' : '']"
  >
    <img v-if="isIconLeft" :src="require(`@/assets/images/icons/${icon}`)" alt />
    <span
      class="font-heebo text-white uppercase"
      :class="[isIconLeft ? 'ml-2' : 'mr-2', textDark ? 'text-brown' : 'text-white']"
    >{{ text }}</span>
    <img v-if="!isIconLeft" :src="require(`@/assets/images/icons/${icon}`)" alt />
  </button>
</template>

<script>
export default {
  name: 'Button',
  props: {
    isIconLeft: {
      type: Boolean,
      default: false,
    },
    icon: {
      type: String,
    },
    text: {
      type: String,
    },
    isSmall: {
      type: Boolean,
    },
    textDark: {
      type: Boolean,
    },
    borderDark: {
      type: Boolean,
    },
    bgDark: {
      type: Boolean,
    },
    textCenter: {
      type: Boolean
    }
  },
};
</script>

<style lang="scss" scoped>
.bg-dark {
  background: #534434;
}
.dark-border {
  border: 2px solid rgba(83, 68, 52, 0.56);
}
.light-border {
  border-color: rgba(255, 255, 255, 0.56);
}
</style>