<template>
  <client-only>
    <div class="slider relative">
      <slider ref="slider" :options="options">
        <slideritem v-for="(item,index) in someList" :key="index" class="slider__img">
          <div class="container mx-auto">
            <div class="flex">
              <div class="lg:w-1/2 w-full text-left ml-auto lg:px-0 px-4">
                <div class="flex items-center lg:-ml-40">
                  <SliderSideIcon class="lg:block hidden" />
                  <div class="lg:ml-2">
                    <h1
                      class="font-heebo font-bold md:text-5xl text-3xl text-white heading-underline-icon pb-1"
                    >Tarwe</h1>
                  </div>
                </div>
                <p class="text-white font-zilla leading-8 my-8 md:text-xl text-base font-extralight">
                  De gewassen van Botmas worden verbouwd in
                  <br />Engwierum (Frl) op de Botma Pleats, een boerderij
                  <br />gelegen tussen het Lauwersmeer en een oude zeegeul;
                  <br />het Oud Dockumer Diep.
                </p>
                <Button isSmall icon="right-arrow-icon.svg" text="lees meer" class="text-base" />
              </div>
            </div>
          </div>
        </slideritem>
      </slider>
      <button
        class="bg-green outline-none focus:outline-none absolute z-50 top-1/2 text-white p-3 rounded-xl left-20 lg:block hidden"
        @click="() => {this.$refs['slider'] && this.$refs['slider'].$emit('slidePre')}"
      >
        <img src="@/assets/images/icons/arrow-left-white.svg" alt />
      </button>
      <button
        class="bg-green outline-none focus:outline-none absolute z-50 top-1/2 text-white p-3 rounded-xl right-20 lg:block hidden"
        @click="() => {this.$refs['slider'] && this.$refs['slider'].$emit('slideNext')}"
      >
        <img src="@/assets/images/icons/arrow-right-white.svg" alt />
      </button>
    </div>
  </client-only>
</template>

<script>
import Button from '@/components/Global/Button.vue';
import SliderSideIcon from '@/assets/images/HomePageImages/slider-side-icon.svg?inline';

export default {
  name: 'FullScreenSlider',
  components: {
    Button,
    SliderSideIcon,
  },
  data() {
    return {
      //data list [array]
      someList: [
        {
          html: 'slide1',
        },
        {
          html: 'slide2',
        },
        {
          html: 'slide3',
        },
        {
          html: 'slide4',
        },
        {
          html: 'slide5',
        },
      ],
      //Slider configuration [obj]
      options: {
        currentPage: 0,
        speed: 600,
        pagination: true,
      },
    };
  },
};
</script>

<style lang="scss" scoped>
.slider {
  height: 585px;
  &__img {
    background: url('@/assets/images/HomePageImages/slider-img.svg') no-repeat center / cover;
  }
}

::v-deep .slider-pagination-bullet {
  height: 12px !important;
  width: 12px !important;
  background: rgba(255, 255, 255, 0.24) !important;
  margin: 2px !important;
}
::v-deep .slider-pagination-bullet-active {
  background: #6a974c none repeat scroll 0 0 !important;
}
::v-deep .slider-pagination-bullets {
  bottom: 40px !important;
}
</style>