<template>
  <div v-if="isTextField">
    <label class="text-white font-heebo uppercase">{{ label }}</label>
    <textarea
      cols="30"
      rows="7"
      class="font-zilla outline-none focus:outline-none rounded bg-secondary w-full p-3 mt-1"
    ></textarea>
  </div>
  <div v-else>
    <label class="text-white font-heebo uppercase">{{ label }}</label>
    <input
      type="text"
      class="font-zilla outline-none focus:outline-none h-12 rounded bg-secondary w-full px-3 mt-1"
    />
  </div>
</template>

<script>
export default {
  name: 'InputField',
  props: {
    label: {
      type: String,
    },
    isTextField: {
      type: Boolean,
    },
  },
};
</script>

<style>
</style>