<template>
  <footer class="lg:h-48 flex items-center footer-bg lg:p-0 p-5 relative">
    <div class="flex flex-wrap w-full items-end">
      <div class="lg:w-1/4 w-full lg:mb-0 mb-6">
        <nuxt-link to="/">
          <LogoWhite class="mx-auto"/>
        </nuxt-link>
      </div>
      <div class="w-1/2 lg:block hidden">
        <div class="flex items-center w-full justify-center">
          <template v-for="link in links">
            <active-link :key="link.id" :to="link.to" :linkText="link.linkText" :name="link.name" />
          </template>
        </div>
      </div>
      <div class="w-1/4 lg:flex hidden justify-center self-center">
        <a href="#">
          <InstaWhiteIcon />
        </a>
        <a href="#" class="mx-5">
          <FacebookWhiteIcon />
        </a>
        <a href="#">
          <LinkedinWhiteIcon />
        </a>
      </div>
      <div class="w-full lg:hidden flex flex-wrap">
        <div v-for="link in mobLinks" :key="link.id" class="w-full mb-4">
          <nuxt-link :to="link.path">
            <p class="text-white font-medium font-heebo uppercase pl-1 text-left">{{ link.text }}</p>
            <img v-if="link.hasUnderline" src="@/assets/images/icons/footer-link-underline.svg" alt />
          </nuxt-link>
        </div>
      </div>
      <div class="w-full mt-6">
        <nuxt-link to="/terms">
          <p class="font-zilla text-center text-white font-extralight">
            <span class="underline">Algemene voorwaarde</span> /
            <span class="underline">Privacy policy</span>
          </p>
        </nuxt-link>
      </div>
    </div>
  </footer>
</template>

<script>
import ActiveLink from '@/components/Global/ActiveLink.vue';
import LogoWhite from '@/assets/images/logo-white.svg?inline';
import InstaWhiteIcon from '@/assets/images/icons/insta-white-icon.svg?inline';
import FacebookWhiteIcon from '@/assets/images/icons/facebook-white-icon.svg?inline';
import LinkedinWhiteIcon from '@/assets/images/icons/linkedin-white-icon.svg?inline';

export default {
  name: 'the-footer',
  components: {
    ActiveLink,
    LogoWhite,
    InstaWhiteIcon,
    FacebookWhiteIcon,
    LinkedinWhiteIcon
  },
  data() {
    return {
      links: [
        {
          id: 1,
          to: '/',
          name: 'index',
          linkText: 'home',
        },
        {
          id: 2,
          to: '/degrond',
          name: 'degrond',
          linkText: 'de grond',
        },
        {
          id: 3,
          to: '/deboer',
          name: 'deboer',
          linkText: 'de boer',
        },
        {
          id: 4,
          to: '/degewassen',
          name: 'degewassen',
          linkText: 'de gewassen',
        },
        {
          id: 5,
          to: '/contact',
          name: 'contact',
          linkText: 'contact',
        },
      ],
      mobLinks: [
        {
          id: 1,
          path: '/degrond',
          text: 'de grond',
          hasUnderline: true,
        },
        {
          id: 2,
          path: '/deboer',
          text: 'de boer',
          hasUnderline: true,
        },
        {
          id: 3,
          path: '/degewassen',
          text: 'de gewassen',
          hasUnderline: true,
        },
        {
          id: 4,
          path: '/contact',
          text: 'contact',
          hasUnderline: false,
        },
      ],
    };
  },
};
</script>

<style lang="scss" scoped>
.footer-bg {
  background: #534434;
}
</style>