<template>
  <div class="container mx-auto lg:px-0 px-6">
    <div class="flex items-center py-10">
      <div class="w-1/4">
        <nuxt-link to="/">
          <LogoWhite2 v-if="logoWhite" />
          <LogoWhite3 v-else-if="logoFullWhite" />
          <Logo v-else />
        </nuxt-link>
      </div>
      <div class="w-1/2">
        <div class="lg:flex hidden items-center w-full justify-center">
          <template v-for="link in links">
            <active-link
              :key="link.id"
              :to="link.to"
              :linkText="link.linkText"
              :name="link.name"
              :linkColor="allWhite ? 'text-white' : 'text-brown'"
            />
          </template>
        </div>
      </div>
      <div class="flex w-1/4">
        <div class="lg:flex hidden items-center ml-auto">
          <h1
            class="truncate"
            :class="[allWhite ? 'text-white' : 'text-brown']"
          >{{ headerPhoneText }}</h1>
          <PhoneIcon class="mx-2" />
          <div>
            <h1
              class="truncate"
              :class="[allWhite ? 'text-white' : 'text-brown']"
            >+31 (0)6 1234 5678</h1>
            <NumberUnderlineIcon />
          </div>
        </div>
        <the-sidebar class="lg:hidden flex items-center ml-auto" :isWhite="areIconsWhite" />
      </div>
    </div>
  </div>
</template>

<script>
import TheSidebar from '@/components/Global/TheSidebar.vue';
import ActiveLink from '@/components/Global/ActiveLink.vue';
import Logo from '@/assets/images/logo.svg?inline';
import LogoWhite2 from '@/assets/images/logo-white2.svg?inline';
import LogoWhite3 from '@/assets/images/logo-white3.svg?inline';
import PhoneIcon from '@/assets/images/icons/phone-icon.svg?inline';
import NumberUnderlineIcon from '@/assets/images/icons/number-underline-icon.svg?inline';

export default {
  name: 'TheHeader',
  components: {
    TheSidebar,
    ActiveLink,
    Logo,
    LogoWhite2,
    LogoWhite3,
    PhoneIcon,
    NumberUnderlineIcon,
  },
  props: {
    headerPhoneText: {
      type: String,
    },
    allWhite: {
      type: Boolean,
    },
    logoWhite: {
      type: Boolean,
    },
    logoFullWhite: {
      type: Boolean,
    },
    areIconsWhite: {
      type: Boolean,
    },
  },
  data() {
    return {
      links: [
        {
          id: 1,
          to: '/degrond',
          name: 'degrond',
          linkText: 'de grond',
        },
        {
          id: 2,
          to: '/deboer',
          name: 'deboer',
          linkText: 'de boer',
        },
        {
          id: 3,
          to: '/degewassen',
          name: 'degewassen',
          linkText: 'de gewassen',
        },
        {
          id: 4,
          to: '/contact',
          name: 'contact',
          linkText: 'contact',
        },
      ],
    };
  },
};
</script>

<style>
</style>