<template>
  <div>
    <div v-if="isWhite" class="flex items-center">
      <button class="bg-transparent outline-none focus:outline-none mr-6">
        <img src="@/assets/images/icons/phone-icon-white.svg" alt />
      </button>
      <button class="bg-transparent outline-none focus:outline-none" @click="openSidebar">
        <img src="@/assets/images/icons/hamburger-icon-white.svg" alt />
      </button>
    </div>
    <div v-else class="flex items-center">
      <button class="bg-transparent outline-none focus:outline-none mr-6">
        <img src="@/assets/images/icons/mob-phone-icon.svg" alt />
      </button>
      <button class="bg-transparent outline-none focus:outline-none" @click="openSidebar">
        <img src="@/assets/images/icons/hamburger-icon.svg" alt />
      </button>
    </div>

    <div
      class="fixed bottom-0 top-0 sidebar-bg sm:w-1/3 w-full p-4 cool-transition"
      :class="isSidebarOpen ? 'right-0' : 'md:-right-1/2 -right-full'"
    >
      <div class="flex flex-wrap items-center mt-4">
        <div class="w-full flex items-center mb-24">
          <div class="w-1/2">
            <nuxt-link to="/">
              <img src="@/assets/images/logo.svg" alt />
            </nuxt-link>
          </div>
          <div class="w-1/2">
            <div class="flex justify-end">
              <button class="bg-transparent outline-none focus:outline-none mr-6">
                <img src="@/assets/images/icons/mob-phone-icon.svg" alt width="20" />
              </button>
              <button class="bg-transparent outline-none focus:outline-none" @click="closeSidebar">
                <img src="@/assets/images/icons/cross-icon.svg" alt width="20" />
              </button>
            </div>
          </div>
        </div>
        <div v-for="link in sidebarLinks" :key="link.id" class="w-full mb-4">
          <nuxt-link :to="link.path">
            <span class="text-brown text-xl uppercase font-bold font-heebo">{{ link.text }}</span>
          </nuxt-link>
          <img
            v-if="link.hasUnderline"
            src="@/assets/images/icons/side-link-underline.svg"
            alt
            class="h-4"
          />
        </div>

        <div class="w-full mt-20">
          <p class="font-heebo font-bold text-sm text-brown mb-2">VOLG ONs</p>
          <div class="flex items-center">
            <a href="#">
              <img src="@/assets/images/icons/insta-icon.svg" alt />
            </a>
            <a href="#" class="mx-4">
              <img src="@/assets/images/icons/facebook-icon.svg" alt />
            </a>
            <a href="#">
              <img src="@/assets/images/icons/linkedin-icon.svg" alt />
            </a>
          </div>
        </div>
        <div class="w-full mt-16">
          <p class="font-heebo font-bold text-sm text-brown mb-2">Bezoek ons</p>
          <a href="#" class="font-zilla text-brown underline">
            Oud dockmer diep 12,
            <br />9101 AD, Dokkum
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TheSidebar',
  props: {
    isWhite: {
      type: Boolean,
    },
  },
  data() {
    return {
      isSidebarOpen: false,
      sidebarLinks: [
        {
          id: 1,
          path: '/degrond',
          text: 'de grond',
          hasUnderline: true,
        },
        {
          id: 2,
          path: '/deboer',
          text: 'de boer',
          hasUnderline: true,
        },
        {
          id: 3,
          path: '/degewassen',
          text: 'de gewassen',
          hasUnderline: true,
        },
        {
          id: 4,
          path: '/contact',
          text: 'contact',
          hasUnderline: false,
        },
      ],
    };
  },

  methods: {
    openSidebar() {
      this.isSidebarOpen = true;
    },
    closeSidebar() {
      this.isSidebarOpen = false;
    },
  },
};
</script>

<style lang="scss" scoped>
.sidebar-bg {
  background: #ece9e7;
  z-index: 9999999999999;
}
</style>