<template>
  <div class="card-bg relative flex flex-wrap justify-end min-h-screen">
    <div class="container mx-auto lg:-mt-36 -mt-24 pb-20">
      <div class="flex lg:flex-nowrap flex-wrap lg:space-x-8 mx-auto xl:px-14 px-4">
        <div v-for="card in cardData" :key="card.id" class="lg:w-1/3 w-full xl:mb-0 mb-5">
          <BotmasCard
            :card-img="card.img"
            :card-title="card.title"
            :card-title-divider="card.titleUnderline"
            :card-text="card.text"
          />
        </div>
      </div>
    </div>
    <div class="flex flex-wrap items-center">
      <div class="2xl:w-2/3 lg:w-1/2 w-full xl:pl-28 px-6 flex xl:-mt-28 mt-10">
        <div class="2xl:w-1/2 w-full mx-auto">
          <h1
            class="md:text-5xl text-3xl font-bold font-heebo text-white mb-2 heading-underline-icon2 pb-3"
            v-text="title"
          ></h1>
          <p
            class="md:text-xl text-lg font-zilla font-extralight text-white leading-8 my-4"
          >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Risus eget sit interdum pretium adipiscing amet sed etiam. Aliquam, dignissim malesuada ut cursus et. Cras massa nisl magna a pretium. Urna, eget condimentum felis at nunc.</p>
          <div class="flex flex-wrap items-center">
            <Button
              isSmall
              isIconLeft
              icon="phone-icon.svg"
              text="+31 6 1234 5678"
              class="md:w-auto w-full md:mb-0 mb-3"
            />
            <Button
              isSmall
              isIconLeft
              icon="mail-icon.svg"
              text="info@botmas.nl"
              class="md:ml-4 md:w-auto w-full"
            />
          </div>
        </div>
      </div>
      <div class="2xl:w-1/3 lg:w-1/2 md:w-2/3 w-full ml-auto relative -mb-40">
        <img
          src="@/assets/images/HomePageImages/fruit-bucket.png"
          alt
          class="relative z-50 img-shadow"
        />
      </div>
    </div>
  </div>
</template>

<script>
import Button from '@/components/Global/Button.vue';
import BotmasCard from '@/components/Global/BotmasCard.vue';

export default {
  name: 'CardSection',
  components: {
    BotmasCard,
    Button,
  },
  data() {
    return {
      title: 'Altijd verse producten',
      cardData: [
        {
          id: 1,
          img: 'card-img1.svg',
          title: 'De Grond',
          titleUnderline: 'card-underline1.svg',
          text:
            'De gewassen van Botmas worden verbouwd in Engwierum (Frl) op de Botma Pleats, een boerderij',
        },
        {
          id: 2,
          img: 'card-img2.svg',
          title: 'De Boer',
          titleUnderline: 'card-underline2.svg',
          text:
            'De gewassen van Botmas worden verbouwd in Engwierum (Frl) op de Botma Pleats, een boerderij',
        },
        {
          id: 3,
          img: 'card-img3.svg',
          title: 'De Gewassen',
          titleUnderline: 'card-underline3.svg',
          text:
            'De gewassen van Botmas worden verbouwd in Engwierum (Frl) op de Botma Pleats, een boerderij',
        },
      ],
    };
  },
};
</script>

<style lang="scss" scoped>
.card-bg {
  background: url('@/assets/images/HomePageImages/card-bg.svg') center / cover no-repeat;
}
</style>