<template>
  <div>
    <full-screen-slider />
  </div>
</template>

<script>
import FullScreenSlider from '@/components/Global/FullScreenSlider.vue';

export default {
  name: 'CarouselSection',
  components: {
    FullScreenSlider
  }
};
</script>

<style>
</style>