<template>
  <div class="min-h-screen relative" :class="[!changeBgImg ? 'home-bg' : '']">
    <img
      id="hero-img"
      src="@/assets/images/HomePageImages/hero-img.svg"
      class="absolute lg:block hidden"
    />
    <div class="container mx-auto min-h-screen flex flex-wrap relative">
      <div class="flex items-center py-10 px-4 w-full self-start">
        <div class="w-1/2">
          <Logo />
        </div>
        <div class="flex w-1/2">
          <div class="lg:flex hidden items-center ml-auto">
            <h1 class="text-brown">Direct meer weten?</h1>
            <PhoneIcon class="mx-2" />
            <div>
              <h1 class="text-brown">+31 (0)6 1234 5678</h1>
              <img src="@/assets/images/icons/number-underline-icon.svg" alt />
            </div>
          </div>
          <the-sidebar class="lg:hidden flex items-center ml-auto" />
        </div>
      </div>
      <div class="w-full flex flex-wrap self-end relative">
        <div class="flex w-full 2xl:mb-24 mb-4 pb-24">
          <div class="w-full text-center mx-auto">
            <h1 class="text-white font-heebo font-bold md:text-8xl text-7xl">Van gezonde grond</h1>
          </div>
        </div>
        <div class="lg:flex hidden items-center w-full justify-center relative z-20 pb-10">
          <template v-for="link in homepageLinks">
            <active-link :key="link.id" :to="link.to" :linkText="link.linkText" :name="link.name" />
          </template>
        </div>
      </div>
    </div>
    <img
      src="@/assets/images/HomePageImages/plants.png"
      alt
      class="absolute bottom-0 -left-3 w-full"
    />
  </div>
</template>

<script>
import ActiveLink from '@/components/Global/ActiveLink.vue';
import TheSidebar from '@/components/Global/TheSidebar.vue';
import Logo from '@/assets/images/logo.svg?inline';
import PhoneIcon from '@/assets/images/icons/phone-icon.svg?inline';
import HeroImg from '@/assets/images/HomePageImages/hero-img.svg?inline';

export default {
  name: 'HeroSection',
  components: {
    ActiveLink,
    TheSidebar,
    Logo,
    PhoneIcon,
    HeroImg,
  },
  data() {
    return {
      homepageLinks: [
        {
          id: 1,
          to: '/',
          name: 'index',
          linkText: 'home',
        },
        {
          id: 2,
          to: '/degrond',
          name: 'degrond',
          linkText: 'de grond',
        },
        {
          id: 3,
          to: '/deboer',
          name: 'deboer',
          linkText: 'de boer',
        },
        {
          id: 4,
          to: '/degewassen',
          name: 'degewassen',
          linkText: 'de gewassen',
        },
        {
          id: 5,
          to: '/contact',
          name: 'contact',
          linkText: 'contact',
        },
      ],
      changeBgImg: false,
    };
  },

  mounted() {
    document.documentElement.scrollTop = 0;

    if (window.innerWidth < 1024) {
      this.changeBgImg = false;
    } else {
      this.changeBgImg = true;
    }

    window.addEventListener('resize', this.changeImgOnResize);

    const heroImg = document.getElementById('hero-img');

    setTimeout(() => {
      heroImg.style.marginTop = '-40%';
    }, 1000);
  },

  destroyed() {
    window.removeEventListener('resize', this.changeImgOnResize);
  },

  methods: {
    changeImgOnResize() {
      if (window.innerWidth < 1024) {
        this.changeBgImg = false;
      } else {
        this.changeBgImg = true;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.home-bg {
  background: url('~@/assets/images/HomePageImages/hero-img.svg') no-repeat center / cover;
}
</style>