<template>
  <div class="testimonial-bg lg:h-screen relative">
    <div class="mx-auto relative slider-container">
      <client-only>
        <div class="flex flex-wrap md:pt-20 pt-6 relative">
          <div class="w-11/12 md:pl-5 ml-auto">
            <h1 class="text-white md:text-5xl text-3xl font-bold mb-1">Verhalen van onze klanten</h1>
            <img
              src="@/assets/images/HomePageImages/testimonials/testi-header-underline.svg"
              alt
              class="md:w-auto w-3/4"
            />
          </div>
          <div class="relative" style="width: 80%; margin: 30px auto; height: 376px">
            <!-- Using the slider component -->
            <slider ref="slider" :options="options" class="w-1/2 pt-10">
              <!-- slideritem wrapped package with the components you need -->
              <slideritem
                v-for="(item,index) in someList"
                :key="index"
                :style="item.style"
                class="testimonial"
              >
                <img src="@/assets/images/HomePageImages/testimonials/testi-quote.svg" alt />
                <p class="text-brown font-22px font-zilla text-left mt-6 mb-10">
                  Lorem ipsum dolor sit
                  <br />amet, consectetur
                  <br />adipiscing elit. Habitant
                  <br />nisl, consequat tortor,
                  <br />enim in bibendum enim
                  <br />nunc. Hendrerit.”
                </p>
                <img :src="item.logo" alt class="-mt-8" />
              </slideritem>
              <!-- Customizable loading -->
              <div slot="loading">loading...</div>
            </slider>
          <button
            class="bg-green outline-none focus:outline-none absolute z-50 top-1/3 mt-16 text-white p-3 rounded-xl -left-24 lg:flex hidden"
            @click="() => {this.$refs['slider'] && this.$refs['slider'].$emit('slidePre')}"
          >
            <img src="@/assets/images/icons/arrow-left-white.svg" alt />
          </button>
          <button
            class="bg-green outline-none focus:outline-none absolute z-50 top-1/3 mt-16 text-white p-3 rounded-xl -right-20 lg:flex hidden"
            @click="() => {this.$refs['slider'] && this.$refs['slider'].$emit('slideNext')}"
          >
            <img src="@/assets/images/icons/arrow-right-white.svg" alt />
          </button>
          </div>
        </div>
      </client-only>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TestimonialSection',
  data() {
    return {
      someList: [
        {
          logo: require('@/assets/images/HomePageImages/testimonials/testi-logo1.svg'),
          style: {
            width: '314px',
            'margin-right': '3%',
          },
        },
        {
          logo: require('@/assets/images/HomePageImages/testimonials/testi-logo2.svg'),
          style: {
            width: '314px',
            'margin-right': '3%',
          },
        },
        {
          logo: require('@/assets/images/HomePageImages/testimonials/testi-logo3.svg'),
          style: {
            width: '314px',
            'margin-right': '3%',
          },
        },
        {
          logo: require('@/assets/images/HomePageImages/testimonials/testi-logo2.svg'),
          style: {
            width: '314px',
            'margin-right': '3%',
          },
        },
        {
          logo: require('@/assets/images/HomePageImages/testimonials/testi-logo3.svg'),
          style: {
            width: '314px',
            'margin-right': '3%',
          },
        },
      ],
      //Slider configuration [obj]
      options: {
        currentPage: 0,
        thresholdDistance: 500,
        thresholdTime: 300,
        infinite: 3,
        loop: true,
      },
    };
  },
};
</script>

<style lang="scss" scoped>
.slider-container {
  width: 100%;
}

// @media (min-width: 640px) {
//   .slider-container {
//     max-width: 640px;
//   }
// }

@media (min-width: 768px) {
  .slider-container {
    max-width: 768px;
  }
}

// @media (min-width: 1024px) {
//   .slider-container {
//     max-width: 1024px;
//   }
// }

@media (min-width: 1280px) {
  .slider-container {
    max-width: 1280px;
  }
}

.testimonial-bg {
  background: url('~/assets/images/HomePageImages/testimonials/testimonial-bg.png') no-repeat center /
    cover;
}

.testimonial {
  background: url('@/assets/images/HomePageImages/testimonials/botmas-texture.jpeg');
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  position: static;
  border: 2px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
}
::v-deep .slider-pagination-bullet {
  height: 12px !important;
  width: 12px !important;
  background: rgba(255, 255, 255, 0.44) !important;
  margin: 2px !important;
}
::v-deep .slider-pagination-bullet-active {
  background: #6a974c none repeat scroll 0 0 !important;
}
::v-deep .slider-pagination-bullets {
  top: 0 !important;
  text-align: right !important;
}
</style>