<template>
  <div class="min-h-screen video-bg relative flex items-center lg:px-0 px-4">
    <div class="container mx-auto h-full">
      <div class="flex items-center">
        <div class="w-1/2 lg:flex hidden justify-center">
          <button class="bg-transparent outline-none focus:outline-none ml-28 mt-14">
            <PlayButtonIcon />
          </button>
        </div>
        <div class="lg:w-1/2 w-full lg:order-last order-first">
          <div>
            <span
              class="md:text-5xl text-3xl font-heebo text-white font-bold heading-underline-icon"
            >Wij zijn Botmas.</span>
          </div>
          <p
            class="text-xl leading-8 text-white font-zilla my-5 w-3/4"
          >De gewassen van Botmas worden verbouwd in Engwierum (Frl) op de Botma Pleats, een boerderij gelegen tussen het Lauwersmeer en een oude zeegeul; het Oud Dockumer Diep.</p>
          <div class="md:w-auto w-full md:block flex items-center">
            <Button icon="right-arrow-icon.svg" text="Ons verhaal" />
            <button class="outline-none focus:outline-none text-white flex items-center mx-auto md:hidden block">
              <span class="text-white underline uppercase mr-2">Afspelen</span>
              <svg
                width="12"
                height="14"
                viewBox="0 0 12 14"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0 12.6464V1.25553C0 0.480554 0.843431 0.000111401 1.51003 0.39537L10.6227 5.79874C11.2586 6.17579 11.2797 7.08867 10.6618 7.49463L1.54912 13.4821C0.884151 13.9191 0 13.4421 0 12.6464Z"
                  fill="white"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template> 

<script>
import Button from '@/components/Global/Button.vue';
import PlayButtonIcon from '@/assets/images/icons/play-button-icon.svg?inline';

export default {
  name: 'VideoSection',
  components: {
    Button,
    PlayButtonIcon,
  },
};
</script>

<style lang="scss" scoped>
.video-bg {
  background: linear-gradient(rgba(171, 126, 58, 1) 1%, rgba(0, 0, 0, 0.4) 20%),
    url('~@/assets/images/HomePageImages/video-img.svg') no-repeat center;
  background-size: 2979px;
  background-position-x: -1000px;
}

@media only screen and (max-width: 767px) {
  .video-bg {
    background: url('~@/assets/images/HomePageImages/video-img.png') !important;
  }
}
</style>