<template>
  <div class="card-bg relative flex flex-wrap justify-end min-h-screen pb-20 lg:px-0 px-5">
    <img
      src="@/assets/images/HomePageImages/divider3.svg"
      alt
      class="absolute -bottom-6 h-12 w-full z-50"
    />
    <div class="flex flex-wrap items-center">
      <div class="container mx-auto flex mt-32 lg:w-3/5">
        <div class="container mx-auto">
          <div class="flex">
            <h1 class="md:text-5xl text-3xl font-bold font-heebo text-white mb-2 md:block hidden">
              <span class="mb-2">Boeren wijsheid</span>
              <AgriHeadingUnderline />
            </h1>
            <h1 class="text-3xl font-bold font-heebo text-white mb-2 md:hidden heading-underline-icon">
              Boeren wijsheid
            </h1>
          </div>
          <p
            class="md:text-xl text-lg font-zilla text-white md:leading-8 mb-14 mt-4"
          >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed leo, at sed habitasse proin imperdiet in elementum. Sed hendrerit molestie penatibus nullam a, eget sem. Risus suscipit leo nulla leo. Mattis etiam nibh porttitor dictum tellus molestie enim sit odio. Pulvinar ac, eget suspendisse bibendum ultrices massa. Dui amet quam est in cras augue. Ultrices sed vel donec aliquet auctor dui neque. Orci lectus.</p>
          <p
            class="md:text-xl text-lg font-zilla text-white leading-8"
          >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed leo, at sed habitasse proin imperdiet in elementum. Sed hendrerit molestie penatibus nullam a, eget sem. Risus suscipit leo nulla leo. Mattis etiam nibh porttitor dictum tellus molestie enim sit odio. Pulvinar ac, eget suspendisse bibendum ultrices massa. Dui amet quam est in cras augue. Ultrices sed vel donec aliquet auctor dui neque. Orci lectus.</p>
        </div>
      </div>
      <div class="container mx-auto mt-20">
        <div
          class="relative mx-auto agriculture-bg flex items-center rounded-lg md:px-28 px-6 md:py-0 py-12"
        >
          <div class="flex flex-wrap">
            <div class="w-full">
              <h1 class="font-heebo font-bold md:text-5xl text-3xl text-white">
                <span>Regeneratieve</span>
                <img src="@/assets/images/DegrondPageImages/carousel-heading-divider.svg" alt />
              </h1>
              <h1 class="font-heebo font-bold md:text-5xl text-3xl text-white">landbouw</h1>
              <img src="@/assets/images/DegrondPageImages/carousel-heading-divider.svg" alt />
            </div>
            <div class="w-full my-8">
              <p class="text-white font-zilla leading-8 md:text-xl text-base lg:block hidden">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed leo, at sed
                <br />habitasse proin imperdiet in elementum. Sed hendrerit molestie
                <br />penatibus nullam a, eget sem. Risus suscipit leo nulla leo. Mattis etiam
                <br />nibh porttitor dictum tellus molestie enim sit odio. Pulvinar ac,
                <br />eget suspendisse bibendum ultrices massa. Dui amet quam est in cras
                <br />augue. Ultrices sed vel donec aliquet auctor dui neque. Orci lectus.
              </p>
              <p
                class="text-white font-zilla md:leading-8 text-base lg:hidden block"
              >De gewassen van Botmas worden verbouwd in Engwierum (Frl) op de Botma Pleats, een boerderij gelegen tussen het Lauwersmeer en een oude zeegeul; het Oud Dockumer Diep.</p>
            </div>
            <div class="w-full">
              <Button isSmall icon="right-arrow-icon.svg" text="lees meer" class="text-base" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Button from '@/components/Global/Button.vue';
import AgriHeadingUnderline from '@/assets/images/DeboerPageImages/agri-heading-underline.svg?inline';

export default {
  name: 'AgricultureSection',
  components: {
    Button,
    AgriHeadingUnderline,
  },
};
</script>

<style lang="scss" scoped>
.card-bg {
  background: url('@/assets/images/DegrondPageImages/video-section-bg.svg') center / cover no-repeat;
}
.agriculture-bg {
  background: url('@/assets/images/DeboerPageImages/agriculture-img.svg') no-repeat center / cover;
  height: 668px;
}

@media only screen and (max-width: 767px) {
  .agriculture-bg {
    height: 100% !important;
  }
}
</style>