<template>
  <div class="sm:h-screen contact-bg relative pt-14 md:px-0 px-4 pb-16">
    <div class="flex flex-wrap">
      <div class="w-full flex justify-center">
        <h1 class="md:text-5xl text-3xl text-brown font-heebo font-bold text-center">
          <span>Meer over ons weten?</span>
          <img src="@/assets/images/DeboerPageImages/contact-heading-divider.svg" alt />
        </h1>
      </div>
      <div class="xl:w-2/5 md:w-2/3 w-full mx-auto my-6">
        <p
          class="text-gray font-extralight font-zilla text-xl text-center leading-8"
        >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Risus eget sit interdum pretium adipiscing amet sed etiam. Aliquam, dignissim malesuada ut cursus et. Cras massa nisl magna a pretium. Urna, eget condimentum felis at nunc.</p>
      </div>
      <div class="w-full flex flex-wrap justify-center">
        <Button
          isIconLeft
          icon="phone-icon.svg"
          text="+31 6 1234 5678"
          class="md:w-auto w-full md:mb-0 mb-3 md:text-left text-center"
          bgDark
        />
        <Button
          isIconLeft
          icon="mail-icon.svg"
          text="info@botmas.nl"
          :textDark="isBtnDark"
          class="md:ml-4 md:w-auto w-full md:text-left text-center"
          :borderDark="isBtnDark"
        />
      </div>
    </div>
  </div>
</template>

<script>
import Button from '@/components/Global/Button.vue';

export default {
  name: 'ContactSection',
  components: {
    Button,
  },
  data() {
    return {
      isBtnDark: true,
    };
  },

  mounted() {
    if (window.innerWidth < 640) {
      this.isBtnDark = false;
    } else {
      this.isBtnDark = true;
    }

    window.addEventListener('resize', this.toggleDarkBtn);
  },

  destroyed() {
    window.removeEventListener('resize', this.toggleDarkBtn);
  },

  methods: {
    toggleDarkBtn() {
      if (window.innerWidth < 640) {
        this.isBtnDark = false;
      } else {
        this.isBtnDark = true;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.contact-bg {
  background: url('~@/assets/images/DeboerPageImages/contact-bg.jpg') no-repeat center / cover;
}
</style>