<template>
  <div class="h-screen relative flex flex-wrap banner md:pb-32 pb-20">
    <div class="w-full">
      <the-header headerPhoneText="Meer weten?" allWhite :logoWhite="isLogoWhite"/>
    </div>
    <div class="w-full text-center self-end">
      <p
        class="text-white lg:text-8xl text-7xl font-heebo font-bold w-full text-center"
      >De grond van Botmas</p>
    </div>
  </div>
</template>

<script>
import TheHeader from '@/components/Global/TheHeader.vue';

export default {
  name: 'HeroSection',
  components: {
    TheHeader,
  },
  data() {
    return {
      isLogoWhite: false,
    };
  },

  mounted() {
    if (window.innerWidth < 767) {
      this.isLogoWhite = false;
    } else {
      this.isLogoWhite = true;
    }

    window.addEventListener('resize', this.checkLogoWhite)
  },

  destroyed() {
    window.removeEventListener('resize', this.checkLogoWhite)
  },

  methods: {
    checkLogoWhite() {
      if (window.innerWidth < 767) {
        this.isLogoWhite = false;
      } else {
        this.isLogoWhite = true;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.banner {
  background: url('~@/assets/images/DeboerPageImages/banner-bg.svg') no-repeat center / cover;
}
</style>