<template>
  <div class="kitchen-bg flex items-center sm:pb-0 pb-20">
    <div class="container mx-auto">
      <div class="2xl:w-2/3 xl:w-1/2 w-full xl:pl-28 px-6 flex mt-10">
        <div class="w-full mx-auto">
          <div class="w-full">
            <h1 class="font-heebo font-bold md:text-5xl text-3xl text-white">
              <span>Verse gewassen</span>
              <img src="@/assets/images/DegrondPageImages/carousel-heading-divider.svg" alt />
            </h1>
            <h1 class="font-heebo font-bold md:text-5xl text-3xl text-white">landbouw</h1>
            <img src="@/assets/images/DegrondPageImages/carousel-heading-divider.svg" alt />
          </div>
          <p
            class="text-xl font-zilla text-white leading-8 my-8 md:text-left text-center font-extralight 2xl:w-4/5"
          >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Risus eget sit interdum pretium adipiscing amet sed etiam. Aliquam, dignissim malesuada ut cursus et. Cras massa nisl magna a pretium. Urna, eget condimentum felis at nunc.</p>
          <div class="flex flex-wrap items-center">
            <Button
              isSmall
              isIconLeft
              icon="phone-icon.svg"
              text="+31 6 1234 5678"
              class="md:w-auto w-full md:mb-0 mb-3 md:text-left text-center"
              bgDark
              :textCenter="isTextCenter"
            />
            <Button
              isSmall
              isIconLeft
              icon="mail-icon.svg"
              text="info@botmas.nl"
              class="md:ml-4 md:w-auto w-full md:text-left text-center"
              :textCenter="isTextCenter"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Button from '@/components/Global/Button.vue';

export default {
  name: 'KitchenSection',
  components: {
    Button,
  },
};
</script>

<style lang="scss" scoped>
.kitchen-bg {
  height: 570px;
  background: url('~@/assets/images/DeboerPageImages/salad.jpg') no-repeat center / cover;
}

@media only screen and (max-width: 400px) {
  .kitchen-bg {
    height: 100% !important;
  }
}
</style>