<template>
  <div class="h-full text-bg bg-secondary relative flex items-center sm:pt-10 pt-36">
    <div class="container mx-auto p-6">
      <div class="flex flex-wrap">
        <div class="md:w-3/4 w-full mx-auto md:block hidden">
          <h1
            class="md:text-5xl text-3xl text-brown font-heebo font-bold mb-3"
          >Boeren (eigen) wijsheid</h1>
          <img src="@/assets/images/DeboerPageImages/text-heading-underline.svg" alt />
        </div>
        <div class="md:w-3/4 w-full mx-auto my-12 md:block hidden">
          <p
            class="font-zilla text-xl text-brown"
          >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed leo, at sed habitasse proin imperdiet in elementum. Sed hendrerit molestie penatibus nullam a, eget sem. Risus suscipit leo nulla leo. Mattis etiam nibh porttitor dictum tellus molestie enim sit odio. Pulvinar ac, eget suspendisse bibendum ultrices massa. Dui amet quam est in cras augue. Ultrices sed vel donec aliquet auctor dui neque. Orci lectus.</p>
        </div>
        <div class="md:hidden block w-full mx-auto my-12">
          <p class="font-zilla text-xl text-brown">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed leo, at sed habitasse proin imperdiet in elementum. Sed hendrerit molestie penatibus nullam a, eget sem. Risus suscipit leo nulla leo. Mattis etiam nibh porttitor dictum tellus molestie enim sit odio. Pulvinar ac, eget suspendisse bibendum ultrices massa. Dui amet quam est in cras augue. Ultrices sed vel donec aliquet auctor dui neque. Orci lectus....
            <span class="font-bold">Lees meer</span>
          </p>
        </div>
        <div class="md:w-3/4 w-full mx-auto md:block hidden">
          <p
            class="font-zilla text-xl text-brown"
          >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed leo, at sed habitasse proin imperdiet in elementum. Sed hendrerit molestie penatibus nullam a, eget sem. Risus suscipit leo nulla leo. Mattis etiam nibh porttitor dictum tellus molestie enim sit odio. Pulvinar ac, eget suspendisse bibendum ultrices massa. Dui amet quam est in cras augue. Ultrices sed vel donec aliquet auctor dui neque. Orci lectus.</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.text-bg {
  height: 55vh;
}

@media only screen and (max-width: 767) {
  .text-bg {
    height: 100% !important;
  }
}
</style>