<template>
  <div class="video-bg h-screen flex items-center justify-center">
    <button class="bg-transparent outline-none focus:outline-none">
      <img src="@/assets/images/icons/play-button-icon.svg" alt />
    </button>
  </div>
</template>

<script>
export default {
  name: 'VideoSection',
};
</script>

<style lang="scss" scoped>
.video-bg {
  background: url('~@/assets/images/DeboerPageImages/video-thumbnail.svg') no-repeat center / cover;
}
</style>